<nav class="navbar" style="background-color: #97cdf4; padding: 15px;" >

    <div class="container-fluid">

      <a class="navbar-brand fw-bold" href="#">
        <img src="/img/logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Bloco de Notas
      </a>

      <a href="/listagem" class="navbar-text">
        HOME
      </a>

      <a class="navbar-text">
        Listar
      </a>


    </div>

  </nav>