<nav class="navbar navbar-dark bg-primary" style="background-color: #97cdf4; padding: 15px; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;" >

    <div class="container-fluid">

      <a class="navbar-brand fw-bold" href="#">
        <img src="/img/logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Bloco de Notas
      </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 650px; font-size: 20px; color: beige; font-weight: 700;">
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="/listagem">Home</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

    </div>

  </nav>